<div class="pub">
  {% if if include.paper.img %}
    <img src="{{ include.paper.img }}"/>
  {% endif %}
  <div class="pub-text">
    <h2>{{ include.paper.title }}
      <a href="{{ include.paper.img }}">[PDF]</a>
    </h2> 
    <p>
      {% if include.paper.authors %}{{ include.paper.authors }}.{% endif %}
    </p>
    <h3>
      {% case include.paper.paper-type %}
  {% when "inproceedings" %}
    In <i>{{ include.paper.booktitle }}</i>.
  {% when "article" %}
    In <i>{{ include.paper.journal }}</i>,
      {% if include.paper.volume %}{{ include.paper.volume }}{% endif %}{% if include.paper.number %}({{ include.paper.number }}){% endif %}
      {% if include.paper.article%}: Article {{ include.paper.article}},{% endif %}
      {% if include.paper.pages %}: pages {{ include.paper.pages }}{% endif %}.
  {% when "dissertation" %}
    Dissertation, {{ include.paper.institution }}.
{% endcase %} 
    </h3>
  </div>        
</div>
